
<section>
  {{> new-post }}

  {{!-- <ul class="business-list"> --}}
    {{!-- {{#each businesses}} --}}
    {{!-- <h2>asdasd</h2> --}}
      {{!-- <li>{{this.name}}</li> --}}
    {{!-- {{/each}} --}}
  {{!-- </ul> --}}
  {{ businesses }}

</section>

