<div class="card">
    <h3 class="card-header"> Sign Up 
    </h3>
    <form class="card-body" id="signup-form">
   
    <label for="user-name-signup" class="form-label">Create a user name.</label>
    <input type="text" id="user-name-signup"  class="form-imput"/>
    
    <label for="email-signup" class="form-label">Enter yor email</label>
    <input type="text" id="email-signup"  class="form-imput"/>
    
    <label class="form-label" for="password-signup">Create a Password. It must be at least 6 characters long.</label>
    
    <input id="password-signup" type="password" class="form-input" />
    <div id="loginSignupBtn">

    <button  type="submit" class="btn">Signup now</button>
    
    <a class="login-link btn" href="/login">Login intead</a>
    </div>
 </form>
</div>

<script src="/javascript/signup.js"></script>